{% extends 'base.html.twig' %}

{% block title %}Products page{% endblock %}

{% form_theme form "bootstrap_5_layout.html.twig" %}

{% block body %}
<div class="container py-5">
    {{ form_start(form) }}
    <div class="card w-50 mx-auto">
        <div class="card-header">
            Purchase form
        </div>
        {% if not form.vars.valid %}
        <div class="card-section p-2">
            <div class="alert alert-danger mb-0">
                {{ form_errors(form) }}
            </div>
        </div>
        {% endif %}
        <div class="card-body">
            {{ form_row(form.product) }}
            {{ form_row(form.tax_id) }}
        </div>
        <div class="card-footer text-end">
            {{ form_widget(form.submit) }}
        </div>
    </div>
    {{form_end(form) }}
</div>
{% endblock %}
